.comment-page-container{
  display: flex;
  flex-direction: column;
  margin-top:20px;
  justify-content: space-between;
  
}

.inner{
  display: flex;
  height: 250px;
  gap:1em;
  

}

.comm{
  margin-left: 20px;
}

.commentsss{
  background-color: #3d3d3d;
  color:white;
  width:45%;
  align-self: center;
  margin-right: 60px;
  height: 100px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.bru{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}