.comment-form-container {
    border: 1px solid #ccc;
    padding: 10px;
    
    background-color: #3d3d3d !important;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    width: 42% !important;
    margin-left:390px;
    color: white;
    padding: 20px;
    height: 200px;
  }
  
 .comment-form{
  height:150px;
  background-color: #3d3d3d !important;
  border: 1px solid #ccc;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-top:5px;
  display: flex;
  font-weight: bold;


  
 }

 input{
  overflow-wrap: break-word;
 }

 .postingg{
  width:10%;
  height:25px;
  align-self: flex-end;
  margin-top:20px;
  background-color: yellow;
  border-color: gray;
  border-radius: 10px;
  padding-bottom: 5px;
  cursor: pointer;
 }