.generic-input{
    width: 45%;
    margin-left: 370px;
   
}

/* Change the text color of the input field */

/* Change the text color of the input field with the placeholder "Search" */


/* Change the background color of the input field with the placeholder "Search" */
.input-meh{
    color: #837676; /* Replace with your desired text color */
    width:100%;
    height:30px;
}