.post-card{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color:white;
  width:45%;

  margin-bottom: 20px;
  background-color:#303030;
  margin-left: 370px;

  border:solid white 1px;
}

.post-footer{
  background-color: #3d3d3d;
}

.right-part{
  display: flex;
  flex-direction: column;
gap: 0.7em;
margin-left: 5px;

}



.post-content{
  margin-bottom: 35px;;
}

.comments-main{
  color:white
}

.footer{
  display: flex;
  margin-left: 150px;
  margin-bottom: 10px;
}