.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0603d3; /* Reddit Orange */
    color: #fff;
    font-size: 1.2rem;
    height: 50px;
    gap: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
 
  }

  .logo-text{
    margin-right:auto;

  }
  
  
  
  .nav-links {
    display: flex;
    align-items: right;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover {
    background-color: #333; /* Reddit Dark Gray */
    border-radius: 5px;
  }
  

  /* Existing CSS styles are the same */

.subreddit-dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    margin-top: 6px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color:  #0603d3;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:250px;
  }
  
  .create-subreddit-btn {
    background-color:  #1a150f; /* Reddit Orange */
    color:  #fffafa;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.25rem 0.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
  }
  
  .dropdown-link {
    color: #333; /* Reddit Dark Gray */
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  .create-subreddit-btn:hover{
    background-color: #ad1111;
  }
  .dropdown-link:hover {
    background-color: #f7f7f7;
  }

  /* Existing CSS styles are the same */

.subreddits-button {
    background-color: #1a150f; /* Change to your desired background color */
   
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border: none;
    height: 40px;
    bottom: 0;
    width:250px
  }
  
  .subreddits-button:hover {
    background-color: #333; /* Reddit Orange */
  }
  
  /* Rest of the existing CSS styles are the same */
  
  .profile{
    background-color: #1a150f; /* Change to your desired background color */
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-right:50px; /* Add some space between Profile and Subreddits buttons */
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border: none;
  }